//click tick and not done
.done {
  text-decoration: line-through;

  div {
    button {
      text-decoration: none;
    }
  }
}

.done-hide {
  color: green;
  text-decoration: none;
  button {
    display: none;
  }
}

/* .notdone{

} */
.notdone-hide {
  color: red;
  text-decoration: none;
  button {
    display: none;
  }
}

// button styling
button {
  border: none;
  background-color: transparent;
  outline: none;
}
