//click tick and not done
.done{
    color : green;
    text-decoration: line-through;
    .button{
        text-decoration: none;
    }
}
.done-hide{
    color : green;
    text-decoration: none;
    button{
        display :none;
    }
} 

.notdone{
    color : red;
}
.notdone-hide{
    color : red;
    text-decoration: none;
    button{
        display:none;
    }
}

// button styling
button{
    border: none;
    background-color: transparent;
    outline:none;
}