//click tick and not done
/* .done{
    button{
        text-decoration:dotted;
    }
} */

.done-hide{
    color : green;
    text-decoration: none;
    button{
        display :none;
    }
} 

/* .notdone{

} */
.notdone-hide{
    color : red;
    text-decoration: none;
    button{
        display:none;
    }
}

// button styling
button{
    border: none;
    background-color: transparent;
    outline:none;
}