//div -item headings

.item-headings {
  background-color: $dark-brown-color;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .add,
  .finished-item,
  .delete {
    padding: 1.2rem;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      text-align: center;
      font-size: x-large;
      font-style: italic;
      margin-bottom: 0.5rem;
    }
    ul {
      font-size: x-large;
       line-height: 3rem;
      font-weight: 800;
      list-style: decimal;
          }
  }
}

.add {
  background-color: $light-brown-shade;

  ul {
    width: 100%;
    display: flex; 
    flex-direction: column;

    li {      
      width: 100%;
         display: flex;  
      justify-content: space-around;
      align-items: center;
    }
    div {
      width: 40%;
      button {
        font-size: x-large;
        &:nth-child(1) {
          margin: 0.8rem;
        }
      }
    }
  }
}
.finished-item {
  background-color: $dark-brown-color;
}
.delete {
  background-color: $yellowish-brown;
}
