//div -item headings

.item-headings{
    margin-top: 3rem;;
    height:100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .add{
        border: 1px solid red;
        width:20vw;
        height:100%;
        h3{
            text-align: center;
            font-size: x-large;
            font-style: italic;
        }
    }
    .finished-item{
        border: 1px solid red;
        width:20vw;
        height:100%; 
        h3{
            text-align: center;
            font-size: x-large;
            font-style: italic;
        }
        ol {
            //padding :2rem;
            line-height: 3rem;
            border:2px solid black;
        li{
            border:2px solid blue;
               display:flex;
               justify-content: space-between;
               div{
                   border : 1px solid pink;
                   width :50%;
                   display:flex;
               justify-content: space-between;
               button{
                   &:nth-child(1){
                      background-color :green;
                       border:1px solid brown;
                   }
                   &:nth-child(2){
                       color:red;
                   }
               }
               }
        }
    }
    }
    .delete{
        border: 1px solid red;
        width:20vw;
        height:100%;
        h3{
            text-align: center;
            font-size: x-large;
            font-style: italic;
        }
    }
}