//variables
$my-heading-font :'PT Sans', sans-serif;

//colors:
$main-background-color : beige;
$finished-item-color : orange;
$deleted-item-color : red;
$added-item-color : green;
$dark-brown-color : #FDCEB8;
$coffee-brown-color : #E3C2A6;
$light-brown-shade :#FAE4C4;
$greenish-brown : #E3D1A6;
$yellowish-brown :#FDEFB8;
