@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");
@import "./abstract/_abstract-dir";
@import "./layout/_layout-dir";

*{
    margin:0;
    box-sizing: border-box;
    padding :0;
}
//body styling
body{
    width:100vw;
    height:100vh;
    background-color: $main-background-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main{
        width: 60%;
        height:80%;
        display:flex;
        flex-direction: column;
        border:5px solid $coffee-brown-color;
        h1{
            text-align: center;
            padding:2rem;
            font-style: italic;
        }
        form{
            display:flex;
            justify-content: space-around;
            align-items: center;
            height:30%;
            input[type="text"]{  
                width:60%;       
                padding : 0.8rem;
                border : none;
                border-radius:10px;
                background-color:$light-brown-shade;
                font-size: x-large;
                font-weight: 800;
                font-style: italic;
            }
            input[type="submit"]{
                background-color: $greenish-brown;
                padding :0.6rem;
                width : 20%;
                border-radius: 20px;
                border:none;
                cursor :pointer;
                font-weight: 700;
                font-size: x-large;
                font-style: oblique;
        
            }
        }
    }
}

